#HeaderGroup {
    z-index: 1000 !important;
}

.navbar-collapse {
    background: none !important;
}

/*body.Home #advertPopup {
    display: none !important;
}

.modal-backdrop {
    position: static;
    display: none;
}*/

@media screen and (min-width: 768px) {

}

@media screen and (min-width: 1024px) {

}

@media screen and (min-width: 1200px) {

}
