@import url("//fonts.googleapis.com/css?family=Lato");
@import url("//fonts.googleapis.com/css?family=Open+Sans&subset=latin,cyrillic");
@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");
@keyframes pulse {
    0% {transform: scale(1,1);}
    10% {transform: scale(1.05,1.05);}
    20% {transform: scale(1,1);}
    100% {transform: scale(1,1);}
}
#garan24-contact{
    display: none;
    position: fixed;
    top: 0;left:0;
    color: rgba(255,255,255,1);
    font-family: 'Lato';
    font-weight: 300;
    font-size: 9pt;
    width:100%;
    height:22px;
    line-height: 22px;
    /*background-color: rgba(242,241,240,.9);*/
    background-color: rgba(255,255,255,.9);
    color: #aab2bd;
    z-index: 9999;
    overflow: visible;
}
.garan-contact .fa{
    color: rgba(255,255,255,.9);
}
.garan-contact a{
    text-decoration: none;
    color: rgba(255,255,255,.9);
}
.garan-contact a:hover,.garan-contact a:hover .fa{
    color: rgba(51,187,255,1);
}
#garan-currency {
    font-size: 110%;
    font-weight: 700;
    cursor: default;
}
#garan24-contact-content {
    margin-left:auto;
    margin-right: auto;
    text-align: right;
    padding: 0 16px;
}
#garan24-toper{
    font-family: 'Open Sans';
    font-size: 10pt;
    position: fixed;
    top: 0px;
    left:0;
    width:100%;
    height:52px;
    display:none;
    background-color: rgba(0, 191, 128,.9);
    color: rgba(255,255,255,1);
    z-index: 9999;
    overflow: visible;
}
/*
@media (min-width: 768px){
    #garan24-toper-content,#garan24-contact-content {
        width: 768px;
    }
}
@media (min-width: 992px){
    #garan24-toper-content,#garan24-contact-content {
        width: 992px;
    }
}
@media (min-width: 1200px){
    #garan24-toper-content,#garan24-contact-content{
        width: 1200px;
    }
}*/
.fa {
    color: rgb(0, 191, 128);
}
#garan24-toper-content{
    height:52px;
}

#garan24-toper .garan24-logo a{
    font-size: 20px;
    font-weight: 300;
    font-family: 'Lato';
    color:rgba(255,255,255,1);
    text-decoration: none;
}
#garan24-toper .garan24-logo a code{
    border:solid 2px rgba(255,255,255,1);
    display: inline-block;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    line-height: 24px;
    padding:0 4px;
}
#garan24-toper .garan24-logo img{
    margin-top: 12px;
}
.garan24-button{
    text-decoration: none;
    height: 36px;
    line-height: 36px;
    display: inline-block;
    padding: 0 8px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: rgba(0, 191, 128,1);
    color:rgba(255,255,255,1);
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border:solid 1px rgba(0, 191, 128,1);
    font-size: 12pt;
}
.garan24-button .fa{
    color: rgba(255,255,255,1);
}
.garan24-button.garan24-button-success{
    background-color: rgba(255,255,255,1);
    color:rgb(0, 191, 128);
    border:solid 1px rgba(0, 191, 128,1);
}
.garan24-button.garan24-button-success .fa{
    color:rgb(0, 191, 128);
}
.garan24-button.garan24-button-primary{

    background-color: rgba(51,187,255,1);
    color: rgb(255,255,255);
    border: none;
}
.garan24-button.garan24-button-primary .fa{color: rgb(255,255,255);}
.garan-disabled{pointer-events: none;}
.garan-disabled .fa{}
.garan24-button.garan24-button-disabled{
    background-color: rgba(0,0,0,.2);
    color: rgba(0,0,0,.25);
    border: none;
    pointer-events: none;
}
.garan24-button.garan24-button-disabled .fa{
    color: rgba(0,0,0,.25);
}
.garan24-button.garan24-button-pulse{
    animation: pulse 4s ease-in-out infinite;
}
.garan24-button:hover{
    background-color: rgba(255, 255, 255, 1);
    color:rgb(0, 191, 128);
    text-decoration: none;
    transition: background-color 0.6s, box-shadow 0.6s, opacity 0.6s, color 0.6s;
}
.garan24-button:hover .fa{
    color:rgb(0, 191, 128);
    transition: background-color 0.6s, box-shadow 0.6s, opacity 0.6s, color 0.6s;
}
.garan24-button.garan24-button-success:hover{
    background-color: rgba(51,187,255,.9);
    color: rgb(255,255,255);
    border:solid 2px rgba(51,187,255,.9);
    text-decoration: none;
}
.garan24-button.garan24-button-success:hover .fa{color: rgb(255,255,255);}
.garan24-button.garan24-button-primary:hover{
    background-color: rgba(255,255,255,1);
    color:rgba(0, 191, 128,1);
    text-decoration: none;
}
.garan24-button.garan24-button-primary:hover .fa{color:rgba(0, 191, 128,1);}


#garan24-toper-content {
    padding: 0 16px;
    margin-left:auto;
    margin-right: auto;
}
#garan24-toper-content .garan24-toper-menu{
    list-style: none;
    display: inline-block;
    font-size: 10pt;
    font-family: 'Lato','Open Sans';
    font-weight: 300;
    height:52px;
    line-height: 52px;
    margin:0;
    vertical-align: middle;
}
#garan24-toper-content .garan24-toper-menu li{
    display: inline-block;
    height:52px;
    line-height: 52px;
    margin:0 2px;
}
#garan24-toper-content .garan24-toper-menu li#garan-helper{
    padding:0 4px;
}

#garan24-toper-content .garan24-toper-menu-right{
    float:right;
}
#garan24-toper-content .garan24-toper-menu li .garan24-cart{
    height: 34px;
    line-height: 34px;
    display: inline-block;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255,1);
    color:rgba(0,0,0,.6); /*rgba(92,184,92,1)*/
    text-align: center;
    padding: 0 5px;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    border:solid 0 rgba(255, 255, 255,1);
    position: relative;
}
#garan24-toper-content .garan24-toper-menu li .garan24-cart:hover{
    border-color: rgba(255,255,255,1);
}
#garan24-toper-content .garan24-toper-menu li .garan24-cart #garan24-cart-quantity{
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    width:12px;
    height:12px;
    background-color: rgba(255, 0, 0, 0.5);
    color: rgba(255,255,255,1);
    padding:0 5px;
    font-size: 10px;
}
#garan24-toper-content .garan24-toper-menu li .garan24-cart #garan24-cart-amount{
    display: inline-block;
    margin-left: 12px;
    font-weight: 400;
}

#garan24-overlay{
    height: 100%;
    width: 100%;
    position:fixed;
    top:56px;left: 0;
    background-color: rgba(0,0,0,.3);
    z-index:9997;
    display: none;
}
#garan24-overlay-cover{
    position: absolute;
    top:0;left: 0;bottom: 0;right: 0;
    /*
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
    */
}
#garan24-overlay-message{
    z-index:9998;
    background-color: rgba(255,255,255,1);
    overflow: auto;
    position: relative;
    margin: 6em 20%;
    padding: 2em;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: 14pt;
    text-align: center;
}

#garan-cart-full{
    display: none;
    background-color: rgba(255,255,255,1);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position: absolute;
    padding: 1em;
    width: 640px;
    overflow: auto;
    right:0;
    border:solid 4px rgba(0, 191, 128,.9);
    color:rgba(0,0,0,1);
    font-size: 10pt;
    font-weight: 300;
    z-index: 9999;
}

#garan-cart-full .garan-editional-actions{
    display:block;
    width:100%;
    text-align: right;
    font-size: 8pt;
    position: absolute;
    top:2px;
    right:32px;
}
#garan-cart-full .garan-editional-actions a,#garan-cart-full .garan-editional-actions a .fa{
    color: #aab2bd;

}
#garan-cart-full .garan-editional-actions a:hover,#garan-cart-full .garan-editional-actions a:hover .fa{
    color:rgba(0, 191, 128,1);
    text-decoration: none;
}
#garan-cart-full .garan-cart-scroll{
    max-height: 480px;
    overflow: scroll;
}
#garan-cart-full h2{
    font-size: 12pt;
    font-weight: 400;
    height:32px;
    line-height: 32px;
    margin:0;
    padding: 0;
    border-bottom: dotted 1px #aab2bd;
}
#garan-cart-full h2 .first{font-weight: 700;}
#garan-cart-full .first{
    font-weight: 400;
    font-style: normal;
}
#garan-cart-full .row-item{
    z-index: 9999;
    position: relative;
    display: block;
    width:100%;
    margin:0;
    padding: 0;
    clear: both;
    float: left;
    margin-top: 4px;
    line-height: normal;
}
#garan-cart-full .garan-col{
    position: relative;
    float:left;
    margin: 0;
    padding: 0;
}
#garan-cart-full .garan-col.garan-img{width:16%;}
#garan-cart-full .garan-col.garan-name{width:56%;}
#garan-cart-full .garan-col.garan-quantity{width:8%;}
#garan-cart-full .garan-col.garan-amount{width:16%;}
#garan-cart-full .row-item .title{
    font-size: 11pt;
}
#garan-cart-full .row-item .amount{
    text-align: right;
}
#garan-cart-full .row-item .variations{
    font-size: 9pt;
}
#garan-cart-full .row-item.garan-total{
    color:rgba(0,0,0,.9);
    padding:16px 0;
    font-weight: 700;
    text-align: right;
    border-top: dotted 1px rgba(0, 191, 128,1);
}
#garan24-add2cart-block #garan24-add2cart-button{
    padding-left:2em;
    padding-right: 2em;
}
/*body{padding-top: 56px;}*/

.garan24-overlay {
    background-color: rgba(0,0,0,.5);
}

.garan24-overlay.ctshirts-greetings {
    display: none;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.ctshirts-greetings .garan24-overlay-message .img-background {
    display: block;
    width: 100%;
    height: auto;
    background: url(http://demandware.edgesuite.net/aawj_prd/on/demandware.static/-/Library-Sites-CTShirtsSharedLibrary/default/dwb822df0f/images/Welcome%20mat/welcome-mat.png) no-repeat center;
    background-size: cover;
}

.ctshirts-greetings .garan24-overlay-message .row {
    max-width: none !important;
    height: auto !important;
}

.ctshirts-greetings .garan24-overlay-message .greetings-message {
    width: 100%;
    height: auto;
    padding: 0 10px;
    color: #222;
}

.ctshirts-greetings .garan24-overlay-message .greetings-message .greetings-border-1 {
    height: 100%;
    border: 1px solid #222;
    padding: 3px;
}

.ctshirts-greetings .garan24-overlay-message .greetings-message .greetings-border-2 {
    height: 100%;
    border: 1px solid #222;
    padding: 15px;
}

.ctshirts-greetings .garan24-overlay-message .greetings-message h1 {
    display: block;
    width: auto;
    margin: 0 auto;
    padding: 15px 0 10px 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-weight: 400;
    font-size: 1.6em;
    color: #233354;
}

.ctshirts-greetings .garan24-overlay-message .greetings-message p {
    text-align: center;
    font-family: 'Merriweather', serif;
    font-weight: 400;
    font-size: 0.8em !important;
}

.ctshirts-greetings .garan24-overlay-message .greetings-message p.highlighted-text {
    font-weight: 600;
    font-size: 1em !important;
}

.ctshirts-greetings .garan24-overlay-message .greetings-message .start-shopping {
    display: block;
    width: auto;
    padding: 8px 20px;
    background: #233354;
    color: #fff;
    text-align: center;
    margin: 30px auto 0 auto;
    font-family: 'Merriweather', serif;
    text-transform: uppercase;
    border: 1px solid #233354;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.ctshirts-greetings .garan24-overlay-message .greetings-message .start-shopping:hover {
    background: transparent;
    color: #233354;
}

/* Baby-Walz.fr */
.g-baby-walz-checkout{
    display: inline-block;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: rgba(12,125,203,.8);
    color: rgba(255,255,255,1);
    text-decoration: none;
    height: 36px;
    line-height: 36px;
    padding:0 1em;
    text-align: center;
    font-size: 12pt;
}
.g-baby-walz-checkout .fa{
    color:rgba(255,255,255,1);
}
.g-baby-walz-checkout:hover{
    text-decoration: none;
    background-color: rgba(12,125,203,1);
    color:rgba(255,255,255,1);
}
.g-baby-walz-checkout:hover .fa{
    color:rgba(255,255,255,1);
}






.bs-overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 9997;
    display: none;
    left: 0;
    top: 50px;
    background: rgba(0,0,0,0.75);
}

.bootstrap-iso .bs-popup-window-wrapper {
    z-index: 9998;
    position: relative;
}

.bootstrap-iso .bs-popup-window {
    background: #fff;
    padding: 30px;
    margin-top: 50px;
    position: relative;
    max-height: 400px;
}

.bootstrap-iso .bs-popup-window-content {
    overflow: auto;
    max-height: 340px;
}

.bootstrap-iso .bs-popup-close .elegant-icon {
    position: absolute;
    right: 10px;
    top: 10px;
    color: #777;
    font-size: 2.4em;
    cursor: pointer;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
}

.bootstrap-iso .bs-popup-close .elegant-icon:hover {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.bootstrap-iso .bs-popup-window h3 {
    font-family: 'LatoBold', sans-serif;
    color: #444;
    font-size: 2.2em;
    padding-bottom: 10px;
    padding-top: 0;
    margin-top: 0;
}

.bootstrap-iso .bs-popup-window p,
.bootstrap-iso .bs-popup-window ul li {
    font-size: 1.2em !important;
}

.bootstrap-iso .bs-popup-window p {
    margin-top: 20px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.bootstrap-iso .bs-popup-window ul li {
    margin-top: 6px;
}

.bootstrap-iso .bs-popup-window em {
    color: #777;
}

.bootstrap-iso .bs-popup-alert {
    display: inline-block;
    padding: 4px 8px;
    background: #a94442;
    color: #fff;
    font-weight: bold;
    font-size: 0.8em !important;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}



#choose-your-way-section .container .row {
    max-width: none !important;
    height: auto !important;
}

#choose-your-way-section .logo-link {
    position: relative;
    display: block;
    margin: 30px 0 0 0;
}

#choose-your-way-section .logo-link .logo-link-desc {
    position: absolute;
    display: block;
    text-align: center;
    left: 0;
    bottom: 20px;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    color: #444;
    text-transform: uppercase;
    font-family: "LatoRegular", sans-serif;
    font-size: 10px;
    width: 100%;
}

#choose-your-way-section .logo-link img {
    display: block;
    width: 100%;
    border: 1px solid #ccc;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

#choose-your-way-section .logo-link:hover img {
    border-color: #444;
}





.bootstrap-iso .gauzymall-fixed-navbar {
    background: #00bf80;
    color: #fff;
    margin-bottom: 0;
    border-color: #fff;
}

.bootstrap-iso .gauzymall-fixed-navbar .navbar-brand {
    cursor: pointer;
}

.bootstrap-iso .gauzymall-fixed-navbar .navbar-brand,
.bootstrap-iso .gauzymall-fixed-navbar .navbar-brand:hover,
.bootstrap-iso .gauzymall-fixed-navbar .navbar-nav>li>a {
    color: #fff;
    text-shadow: none !important;
}

.bootstrap-iso .gauzymall-fixed-navbar .navbar-nav>li>a {
    position: relative;
}

@-webkit-keyframes SCALE-TO-TRANSPARENT {
      0%   { background-color: rgba(214, 69, 65, 0.6); -webkit-transform: scale(1.0, 1.0); }
      100% { background-color: rgba(214, 69, 65, 0.0); -webkit-transform: scale(2.2, 2.2); }
}
@-moz-keyframes SCALE-TO-TRANSPARENT {
    0%   { background-color: rgba(214, 69, 65, 0.6); -moz-transform: scale(1.0, 1.0); }
    100% { background-color: rgba(214, 69, 65, 0.0); -moz-transform: scale(2.2, 2.2); }
}
@-o-keyframes SCALE-TO-TRANSPARENT {
    0%   { background-color: rgba(214, 69, 65, 0.6); -o-transform: scale(1.0, 1.0); }
    100% { background-color: rgba(214, 69, 65, 0.0); -o-transform: scale(2.2, 2.2); }
}
@keyframes SCALE-TO-TRANSPARENT {
    0%   { background-color: rgba(214, 69, 65, 0.6); transform: scale(1.0, 1.0); }
    100% { background-color: rgba(214, 69, 65, 0.0); transform: scale(2.2, 2.2); }
}

.bootstrap-iso .gauzymall-fixed-navbar .navbar-nav>li>a .animated-attention-circle-wrapper {
    position: absolute;
    display: block;
    background: rgba(214, 69, 65, 0.8);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    top: 8px;
    right: 2px;
    width: 16px;
    height: 16px;
    -webkit-animation: SCALE-TO-TRANSPARENT 3s infinite; /* Safari 4+ */
    -moz-animation:    SCALE-TO-TRANSPARENT 3s infinite; /* Fx 5+ */
    -o-animation:      SCALE-TO-TRANSPARENT 3s infinite; /* Opera 12+ */
    animation:         SCALE-TO-TRANSPARENT 3s infinite; /* IE 10+, Fx 29+ */
}

.bootstrap-iso .gauzymall-fixed-navbar .navbar-nav>li>a .animated-attention-circle {
    position: absolute;
    display: block;
    background: rgb(214, 69, 65);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    top: 8px;
    right: 2px;
    width: 16px;
    height: 16px;
    line-height: 16px;
    font-size: 14px;
    color: #fff;
    font-weight: 300;
    text-align: center;
}

.bootstrap-iso .gauzymall-fixed-navbar .navbar-nav>li>a,
.bootstrap-iso .gauzymall-fixed-navbar .navbar-nav>li>a:focus,
.bootstrap-iso .gauzymall-fixed-navbar .navbar-nav>li>a:hover {
    color: #fff;
}

.bootstrap-iso .gauzymall-fixed-navbar .navbar-nav>li>a.main-nav-item {
    cursor: pointer;
}

.bootstrap-iso .gauzymall-fixed-navbar .navbar-toggle .icon-bar {
    background-color: #fff;
}

.bootstrap-iso .gauzymall-fixed-navbar .navbar-toggle:focus,
.bootstrap-iso .gauzymall-fixed-navbar .navbar-toggle:hover {
    background-color: transparent;
}

.bootstrap-iso .gauzymall-fixed-navbar .navbar-toggle {
    border-color: #fff;
}

.bootstrap-iso .gauzymall-fixed-navbar .main-nav-item {
    font-family: "LatoRegular", "Helvetica Neue", Arial, sans-serif;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

@media only screen and (min-width: 737px) {

    #stickyHeadFunctionsWrapper {
        top: 50px !important;
    }

    #stickyHeadSearchWrapper {
        top: 72px !important;
    }

    #stickyGroupNaviWrapper {
        top: 120px !important;
    }

    #stickyLogoWrapper {
        top: 70px !important;
    }

    .bootstrap-iso .gauzymall-fixed-navbar .navbar-nav>li>a.main-nav-item:hover {
        color: #444;
    }

    .bootstrap-iso .gauzymall-fixed-navbar .e-mail .phone {
        font-size: 1.4em;
    }

    .bootstrap-iso .gauzymall-fixed-navbar .e-mail span {
        font-size: 1.2em;
    }

}

/*google translator*/
.goog-te-banner-frame{
    bottom:0!important;
    top:auto;
}
/*
.translated-ltr,body {bottom: 0 !important;}

.translated-ltr,body {top: 0 !important;}
.goog-te-gadget {color: rgba(255, 255, 255, 0)!important;}
.goog-te-banner-frame,.goog-logo-link,#goog-gt-tt{    display: none!important;}

.goog-text-highlight{
    background-color:rgba(255, 255, 255, 0)!important;
    -webkit-box-shadow: none!important;
    -moz-box-shadow: none!important;
    box-shadow: none!important;
}
#google_translate_element{
    opacity: 0;
    z-index:-999;    position: relative;
}
.lng img{
    width: 40px;
    height: 25px;
    margin-bottom: 2px;
}
.goog-te-menu-frame{
    display: block!important;
    width: 45px!important;
    left: -48px!important;
    opacity: 0;
    position: absolute;
}
*/
.lng {
    width: 40px;
    position: absolute;
    left: -45px;
    opacity: 0.7;
    top: 34px;
}

.unhide{opacity:1!important;}
.navbar-brand {
    font-family: 'Lato';
}
.navbar-brand code{
    font-weight: 100;
}
.navbar-brand code{
    border:solid 2px rgba(255,255,255,1);
    color: rgba(255,255,255,1);
    background: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    line-height: 24px;
}


@media screen and (min-width: 768px) {

    .bootstrap-iso .bs-popup-window {
        max-height: 800px;
    }
.navbar-brand code{
    font-weight: 100;
    }

    .ctshirts-greetings .garan24-overlay-message .img-background {
        height: 550px;
    }

    .ctshirts-greetings .garan24-overlay-message .greetings-message {
        height: 550px;
    }

    #choose-your-way-section .logo-link .logo-link-desc {
        font-size: 14px;
    }

}

@media screen and (min-width: 1024px) {

    .bootstrap-iso .bs-popup-window {
        max-height: 600px;
    }

    .bootstrap-iso .bs-popup-window-content {
        max-height: 540px;
    }

    .ctshirts-greetings .garan24-overlay-message .img-background {
        height: 540px;
    }

    .ctshirts-greetings .garan24-overlay-message .greetings-message {
        height: 540px;
    }

}

@media screen and (min-width: 1200px) {

    .bootstrap-iso .bs-popup-window {
        max-height: 640px;
    }

    .bootstrap-iso .bs-popup-window-content {
        max-height: 580px;
    }

    .ctshirts-greetings .garan24-overlay-message .img-background {
        height: 550px;
    }

    .ctshirts-greetings .garan24-overlay-message .greetings-message {
        height: 550px;
    }

    .ctshirts-greetings .garan24-overlay-message .greetings-message {
        font-size: 1.2em !important;
    }

    #choose-your-way-section .logo-link .logo-link-desc {
        opacity: 0;
    }

    #choose-your-way-section .logo-link:hover .logo-link-desc {
        opacity: 1;
    }

    #choose-your-way-section .row-for-logo-links {
        width: 760px !important;
        margin: 30px auto 0 auto !important;
    }

}
