<div class="-ge-footer">
    <style>
        .-ge-box{
            display:none;
            position: fixed;
            left:0;
            top:0;
            width:100%;
            height:100%;
            z-index: 9990;
            padding:5% 0;
            overflow: auto;
        }
        .-ge-box .-ge-box-wrapper{
            display: block;
            position: relative;
            background-color: white;
            z-index: 9999;
            margin:0 10%;
            padding: 60px 30px 30px 30px;
            filter: drop-shadow(0 0 30px black);
            text-align: left;

        }
        .-ge-box .-ge-box-wrapper *{
            font-size: 14px;
        }
        .-ge-box .-ge-box-wrapper h1{
            font-size: 20px;
            font-weight: 800;
            position: absolute;
            left: 30px;
            top: 15px;
            padding-bottom: 8px;
        }
        .-ge-box .-ge-box-wrapper ul{
            list-style: disc;
        }
        .-ge-box .-ge-box-wrapper ul li{
            display:list-item;
            line-height: normal;
            margin-bottom: 15px;
        }
        .-ge-box .-ge-box-wrapper .-ge-box-close{
            position: absolute;
            right: 15px;
            top: 15px;
            cursor: pointer;
            font-size: 30px;
            color: rgba(0,0,0,.4);
            transition: all .2s ease-in;
            display: inline-block;
            width: 30px;

        }
        .-ge-box .-ge-box-wrapper .-ge-box-close:hover{
            color: rgba(0,0,0,1);
        }
        .-ge-box .-ge-box-overlay{
            position: absolute;
            left: 0;
            top: 0;
            z-index: 9995;
            width:100%;
            height:100%;
            background-color: rgba(0,0,0,0.6);
            overflow: visible;
        }
        .-ge-footer{
            position: relative;
            text-align: center;
            font-size: 14px;
            padding:30px;
        }
        .-ge-footer ul{
            list-style: none;
            display: inline-block;
            margin: 15px 30px;
        }
        .-ge-footer ul li{
            display: inline-block;
            height: 30px;
            line-height: 30px;
            margin:0 30px;
        }
    </style>
    <ul>
        <li><a class="-ge-linker" href="#_ge_about" onclick="$($(this).attr('href')).show();">О нас</a></li>
        <li><a class="" href="/">Витрина</a></li>
        <li><a class="-ge-linker" href="#_ge_rules" onclick="$($(this).attr('href')).show();">Правила использования</a></li>
        <li><a class="-ge-linker" href="#_ge_rufunds" onclick="$($(this).attr('href')).show();">Правила возврата</a></li>
    </ul>
    <div class="-ge-box" id="_ge_about">
        <div class="-ge-box-overlay"></div>

        <div class="-ge-box-wrapper">
            <div class="-ge-box-close" onclick="$('.-ge-box').hide();">&times;</div>
            <h1>О нас</h1>
            <table class="-eu-contacts">
            <tbody><tr>
            <td width="20%">Название компании</td>
            <th width="200px">Creative Spaces (East Sussex) LTD</th>
            </tr><tr>
            </tr><tr>
            <td>Адрес</td>
            <th>14 Hackwood Robertsbridge, East Sussex, TN32 5ER, United Kingdom</th>
            </tr><tr>
            </tr><tr>
            <td>E-mail</td>
            <th><a href="mailto:contact@garan24.ru">contact@greatelectronic.ru</a></th>
            </tr><tr>
            </tr><tr>
            <td>Телефон</td>
            <th><a href="tel:88007075103">8 800 7075103</a></th>
            </tr><tr>
            </tr></tbody></table>
        </div>

    </div>
    <div class="-ge-box" id="_ge_rules">
        <div class="-ge-box-overlay"></div>

        <div class="-ge-box-wrapper">
            <div class="-ge-box-close" onclick="$('.-ge-box').hide();">&times;</div>
            <h1>Правила использования.</h1>
            <p>Creative Spaces (East Sussex) LTD (“greatelectronics.com”) владеет и управляет этим сайтом. Настоящий документ регулирует ваши отношения с greatelectronics.com (далее «Веб-сайт»). Доступ и использование данного Веб-сайта, а также продуктов и услуг, доступных через данный Веб-сайт (далее «Услуги»), регулируются следующими условиями, условиями и уведомлениями (далее «Условия обслуживания»). Используя Сервисы, вы соглашаетесь со всеми Условиями обслуживания, которые могут время от времени обновляться нами. Вы должны регулярно проверять эту страницу, чтобы быть в курсе последних изменений Условий обслуживания.</p>
            <p>Доступ к этому Веб-сайту разрешен на временной основе, и мы оставляем за собой право отозвать или изменить Услуги без уведомления. Мы не несем ответственности, если по какой-либо причине этот сайт недоступен в любое время или в любой период. Время от времени мы можем ограничить доступ к некоторым частям или всему этому Веб-сайту.</p>
            <p>Этот Сайт может содержать ссылки на другие веб-сайты («Связанные сайты»), которые не управляются greatelectronics.com. Greatelectronics.ru не контролирует Связанные Сайты и не принимает на себя никакой ответственности за них или за любые убытки или ущерб, которые могут возникнуть в результате их использования. Ваше использование Связанных Сайтов будет регулироваться условиями использования и обслуживания, содержащимися на каждом таком сайте.</p>
            <p>Используя этот веб-сайт, вы соглашаетесь на описанную в нем обработку и гарантируете точность всех предоставленных вами данных.</p>
            <h2>Личные данные и их использование</h2>
            <p>Личная информация Клиентов, использующих Услугу, собирается и записывается в реестре клиентов, который ведет greatelectronics.com. Личные данные в основном собираются для производства Сервиса и для доставки товаров.<br>
            Клиент имеет право проверить свои персональные данные и потребовать, чтобы он был полностью или частично исключен из реестра.</p>
            <h2>Условия продажи</h2>
            <p>Посредством размещения заказа вы соглашаетесь приобрести продукт на следующих условиях. Все заказы зависят от наличия и подтверждения цены заказа. Время отправки может варьироваться в зависимости от наличия и с учетом любых задержек, связанных с почтовыми задержками или форс-мажорными обстоятельствами, за которые мы не будем нести ответственность.</p>
            <p>Для заключения договора с greatelectronics.com вы должны быть старше 18 лет и иметь действительную кредитную или дебетовую карточку, выданную банком, приемлемым для нас. greatelectronics.com оставляет за собой право отказать в любом сделанном вами запросе. Если ваш заказ будет принят, мы сообщим вам по электронной почте. При размещении заказа вы берете на себя обязательство, что все детали, которые вы предоставляете нам, верны и точны, что вы являетесь авторизованным пользователем кредитной или дебетовой карты, используемой для размещения вашего заказа, и что есть достаточные средства для покрытия стоимости товаров и доставки оказание услуг.</p>
            <p>(A) Наш контракт<br>
            Когда вы размещаете заказ, вы получите подтверждение по электронной почте, подтверждающее получение вашего заказа: это письмо будет только подтверждением и не будет считаться принятием вашего заказа. Контракт между нами не будет сформирован, пока мы не отправим вам подтверждение по электронной почте, что товары, которые вы заказали, были отправлены вам. В заключенный контракт будут включены только те товары, которые указаны в электронном подтверждении, отправленном во время отправки.</p>
            <p>(B) Ценообразование и доступность<br>
            Хотя мы стараемся и гарантируем, что все детали, описания и цены, представленные на этом веб-сайте, являются точными, могут возникать ошибки. Если мы обнаружим ошибку в цене любого товара, который вы заказали, мы сообщим вам об этом как можно скорее и предоставим вам возможность подтвердить ваше распоряжение по правильной цене или отменить его. Если мы не сможем связаться с вами, мы рассмотрим заказ как отмененный. Если вы отмените, и вы уже заплатили за товар, вы получите полный возврат средств.<br>
            Дополнительно оплачиваются расходы на доставку; Такие дополнительные сборы, где это применимо, четко отображаются и включаются в «Общая стоимость».</p>
            <p>(C) Оплата<br>
            После получения вашего заказа мы проводим стандартную проверку авторизации на вашей платежной карте, чтобы убедиться, что ваша платежная карта действительна. Ваша карта будет дебетоваться при получении авторизации за некоторое минимальное значение. Деньги, полученные после списания вашей карты, должны быть немедленно возвращены на вашу карточку. Как только товар будет отправлен, мы дебетовим вашу карту на общую стоимость вашего заказа. Если вы выбрали опцию «Оплатить сейчас» во время размещения заказа, ваша карта будет списана во время проверки авторизации на общую стоимость вашего заказа, а выплаченные деньги будут использоваться в качестве компенсации стоимости приобретенных вами товаров, как указано в электронном письме с подтверждением . Услуга оплаты картой предоставляется lemonway.com.</p>
            <h2>Изменение</h2>
            <p>greatelectronics.com имеет право по своему усмотрению в любое время и без уведомления изменять, удалять или изменять Услуги и / или любую страницу данного Сайта.</p>
            <h2>Ограничение ответственности</h2>
            <p>greatelectronics.com не гарантирует бесперебойную работу Сервиса. Те же ограничения применяются к Сервису, которые относятся к Интернету в целом; Например, одновременные подключения от многих пользователей могут вызвать перегрузку в Службе и повлиять на ее доступность. Www.Greatelectronics</p>
        </div>

    </div>
    <div class="-ge-box" id="_ge_rufunds">
        <div class="-ge-box-overlay"></div>

        <div class="-ge-box-wrapper">
            <div class="-ge-box-close" onclick="$('.-ge-box').hide();">&times;</div>
            <h1 class="entry-title single-title" itemprop="headline">Правила возврата</h1>

            <p style="text-align: center;"><em>Greatelectronics хочет, чтобы вы и ваша семья наслаждались вашей новой покупкой, сделанной у нас. Однако, если вам нужно вернуть товар, мы готовы помочь.</em></p>
            <h3>Стандартная политика возврата</h3>
            <p>Мы предоставляем возмещение покупной цены в следующих случаях:</p>
            <ul>
            <li>Есть вещи, которые вы не заказывали в посылке</li>
            <li>Элементы в пакете неполны или повреждены</li>
            <li>Вы передумали и решили не покупать заказанные вещи.</li>
            </ul>
            <p>Есть несколько важных вещей, которые следует иметь в виду при возврате купленного вами продукта в сети от Greatelectronics:</p>
            <ul>
            <li>У вас есть 14 календарных дней, чтобы вернуть товар с момента его получения. Или вы можете отказаться принять посылку во время доставки или в момент получения товара.</li>
            <li>Убедитесь, что товар, который вы возвращаете, упакован полностью со всеми частями, документацией и в исходной упаковке.</li>
            <li>Когда вы возвращаете товары в случае отказа принять посылку, убедитесь, что вы не открывали оригинальный пакет возвращаемым товаром.</li>
            <li>Любой предмет не может быть возвращен в этом случае, если печать или наклейка на упаковке предмета сломаны.</li>
            </ul>
            <h3>Как вернуть товар</h3>
            <p>Отправьте ваш товар нашему партнеру, предоставляющему услугу возврата в Российской Федерации — GARAN24.</p>
            <p>Чтобы вернуть товар в Greatelectronics (за исключением товаров, возвращающихся в момент поставки),</p>
            <p>Войдите в свою личную учетную запись на Greatelectronics.ru, используя идентификатор и пароль, отправленные вами во время обработки заказа.</p>
            <p>После входа в систему вы увидите элементы в вашем последнем заказе. Найдите элемент, который хотите вернуть, и нажмите ссылку «Вернуться к товару». На следующей странице выберите элементы, которые вы хотите вернуть, и нажмите кнопку «Продолжить».</p>
            <p>Заполните форму возврата, предоставьте свою контактную информацию, чтобы отправить свое возвращение, и нажмите кнопку «Завершить», чтобы отправить нам запрос на отмену.</p>
            <p>На странице «Спасибо» вы найдете инструкции о том, как завершить свое возвращение. Распечатайте форму возврата и приложите ее к пакету с возвращаемыми элементами. Адрес, по которому вы отправляете товар, будет вставлен автоматически.</p>
            <p>Мы сообщим вам, когда мы получим ответ.</p>
            <h3>Возврат средств</h3>
            <p>Как только мы получим ваш товар, возмещение будет немедленно начато. Если вы отменили отправку товара, и вам был выставлен счет, мы инициируем возврат средств сразу после отправки вашего запроса на отмену.</p>
            <p>Возврат будет отправлен в ваш карточный банк в течение пяти рабочих дней с момента получения возвращенного товара или аннулирования заказа.</p>
            <p>Пожалуйста, обратитесь в банк-корреспондент с вопросами о том, когда кредит будет отправлен на ваш счет.</p>
            <p>Примечание. Вы можете возвращать элементы только из одного заказа за раз. Если вы возвращаете некоторые предметы из своего заказа или возвращаете все предметы на случай, если вы решите их не покупать, мы возместим только стоимость возвращенных предметов, не включая стоимость доставки. Во всех случаях доставка возвращенных товаров в нашу Сервисную службу осуществляется за ваш счет.</p>
            <p>Если вам нужна помощь в вашем возвращении, пожалуйста, позвоните нашему партнеру, предоставляющему услугу возврата в России +7 499 110 2263.</p>

        </div>
    </div>
    <script>
        $(".-ge-box-overlay").on("click",function(e){
            $(".-ge-box").hide();
        });
    </script>
</div>
